.tab{
    float: left;
    padding: 15px 5px 15px 5px;
    cursor:pointer;
}
.tab-active{
    color: #00a1d6;
}
.tab-border{
    height: 50px;
    position: absolute;
    left: 29px;
    width: 66px;
    z-index: 100;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #ddd;
    border-radius: 6px 6px 0 0;
}
.right-shift{
    animation:right-shift 0.5s;
}
@keyframes right-shift
{
    from {left:29px;}
    to {left:95px;}
}
.left-shift{
    animation:left-shift 0.5s;
}
@keyframes left-shift
{
    from {left:95px;}
    to {left:29px;}
}