.tab{
    float: left;
    padding: 15px 5px 15px 5px;
    /*cursor:pointer;*/
}
.tab-active{
    color: #00a1d6;
}
.tab-border{
    height: 50px;
    position: absolute;
    left: 29px;
    width: 66px;
    z-index: 100;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #ddd;
    border-radius: 6px 6px 0 0;
}
.right-shift{
    animation:right-shift 0.5s;
}
@keyframes right-shift
{
    from {left:29px;}
    to {left:95px;}
}
.left-shift{
    animation:left-shift 0.5s;
}
@keyframes left-shift
{
    from {left:95px;}
    to {left:29px;}
}

.join-page{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.join-page li{
    display: inline;
}
.publish-page{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.publish-page li{
    display: inline;
}
/*分页相关*/
.disable a{
    color: grey !important;
}
.disable a:hover,.disable a:focus{
    cursor: default;
    background-color: #ffffff !important;
    color: grey !important;
}

.publish-page-wrapper,.join-page-wrapper{
    padding: 0 34px;
    position: absolute;
    width: 92%;
    left: 0;
    top: 90%;
}
.page{
    float: left;
}

.join-page-direct-wrapper , .publish-page-direct-wrapper{
    display: inline-block;
    margin-left: 20px;
}
.join-page-direct,.publish-page-direct{
    margin: 20px 0;
}
.join-page-direct-input,.publish-page-direct-input{
    height: 28px;
    width: 70px;
}
.direct-button{
    height: 34px;
}
