a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding:0 10px;
}
body {
    display: block;
    margin: 0px;
}
li{
	list-style : none;
}


.title{
	height: 50px;
    padding-left: 30px;
    border-bottom: 1px solid #ddd;
}
.title-text{
	color:#00a1d6;
	float: left;
	margin: 15px 0 0 5px;
	font-size:14px;
}

.portrait-wrapper{	
	margin:20px auto 20px auto;
	border: 1px solid #e5e9ef;
    border-radius: 100px;
    background-color: #4C4A43;
    width: 200px;
    height: 200px;
    position: relative;
}
.portrait{
	margin-top: 29px;
    margin-left: 29px;
}
.portrait ,.portrait img{
	    border-radius: 72px;
    display: block;
    width: 144px;
    height: 144px;
    position: absolute;
    cursor: pointer;
    z-index: 100;	
}
.texttip{
	font-size: 12px;
    display: block;
    cursor: default;
    position: absolute;
    z-index: 50;
    margin-top: 50px;
    margin-left: 36px;
    color: #fff;
    transition: margin 0.3s;
}
.portrait:hover .texttip{
	display: block;
    cursor: default;
    position: absolute;
    z-index: 50;
    margin-top: 143px;
    margin-left: 36px;
    color: #fff;
}
.texttip p{
	margin-top: 2px;
}
.information{
	width:820px;
	margin:20px auto 20px auto;
}
.row{
	margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
}
.textName{
	width: 110px;
    float: left;
	position: relative;    
    color: #666;
    font-size: 12px;
    font: 12px 'Microsoft YaHei','Hiragino Sans GB',Arial,sans-serif;
}
.textValue,.action{
	display: inline-block;
    position: relative;
    color: #666;
    font-size: 12px;
    font: 12px 'Microsoft YaHei','Hiragino Sans GB',Arial,sans-serif;
}
.textValue ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    border-radius: 4px;
    color: #717171;
}
.selected{
    background-color: #00a0d8 !important;
    color: #fff;
    cursor: default
}
.textValue li{
    border-radius: 8px;
    list-style: none;
    display: inline-block;
    height: 28px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 28px;
    cursor: pointer;
}
li.canHover:hover{
    color:#fff;
    background-color: #717171;
}
a.canHover:hover{
    /*color:#fff;*/
    background-color: #e1e4ea;
}
.wrapper-padding{
    padding:0px 30px;
}
.table-wrapper{
    margin: 10px auto 20px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 2px;

    overflow: hidden;
}
.table-normal{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
.table-normal thead tr td {
    text-align: center;
    background: #f5f5f5;
    height: 42px;
    border-left: #ddd solid 1px;
    border-bottom: 1px solid #ddd;

}
.table-normal tbody tr {
    border-top: 1px solid #ddd;
}
.table-normal tbody tr td {
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-left: #ddd solid 1px;
}
.action a{
	text-align: right;
    float: right;
    margin-right: 20px;
    height: 28px;
    line-height: 28px;
	cursor:pointer;
	color:#215A8D;
	opacity: 0.75;
}
.action a:hover{
	opacity: 1;
}
.textName label,.textValue label{
	text-align: right;
	float:right;
	margin-right:20px;
	height: 28px;
    line-height: 28px;
}
.error{
    float: none;
    color: red;
}
.row input{
	border: 1px solid #ddd;
    border-radius: 2px;
    height:24px;
    color: #717171; 
}
.row textarea{
	width:600px;
	height:80px;
	padding: 3px 8px;
	color: #717171; 
	resize: none;
}

.btnArea{
	width: 150px;
	padding:0;
	margin:15px auto 5px auto;
	height: 36px;
	}
.submit-btn {
    display: block;
    background: url(../images/bg.png) repeat-x left top;
    width: 150px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #215A8D;
    opacity: 0.75;
}
.submit-btn:hover{
	text-decoration:none; 
	color:white;
	opacity:1;
}

.disable a:hover,.disable a:focus{
    cursor: default;
    background-color: #ffffff !important;
    color: #337ab7 !important;
}

.img-wrapper{
    width:820px;
    margin:100px auto 20px auto;

}

.error-wrapper{
    margin:20px auto 20px auto;
    border: 1px solid #e5e9ef;
    border-radius: 200px;
    background-color: #4C4A43;
    width: 400px;
    height: 400px;
    position: relative;
}
.error-img, .error-img img {
    border-radius: 200px;
    display: block;
    width: 400px;
    height: 400px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.z_top {
    height: 50px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    z-index: 10;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
    color: #222;
    margin-bottom: 20px;
}

.z_top .z_header {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: left;
    z-index: 10000;
    width: 980px;
    zoom: 1;
}
.z_top .z_header:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    font-size: 0;
}
.z_top .z_top_nav {
    float: left;
    height: 50px;
    font-size: 13px;
    margin-left: 0px;
}
ul{
	        margin: 0;
    padding: 0;
    color: #717171;
}
.z_top .z_top_nav ul li {
    float: left;
    text-align: center;
    line-height: 50px;
    position: relative;
}
.uns_box {
    float: right;
    font-size: 14px;
}
.uns_box li {
    float: left;
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: relative;

}

.uns_box li:hover ,.home:hover{
    float: left;
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: relative;
    background: #e1e4ea;
}

.child-list li a {
	text-align: center;
    display: block;
    height: 50px;
    color: #222;
    font-size: 14px;
    line-height: 48px;
    padding:0;
}
/*.child-list li a:hover {*/
    /*background-color: #e1e4ea;*/
/*}*/

.information_container{
    margin-top: 0px;
}
.security_content{    
	overflow: hidden;
    width: 980px;
    height: 100%;
    margin: 10px auto 100px;
    border: 1px solid #e1e2e5;
    box-shadow: 0 2px 4px rgba(0,0,0,.14);
    background: #FAFAFA;
    border-radius: 4px;
}

.security-left {
    float: left;
    width: 150px;
    height: 100%;
}

.active{
    background-color: #00a1d7;
}

.security-right {
    float: right;
    width: 830px;
    border-left: 1px solid #ddd;
    background: #fff;
    position: relative;
    min-height: 832px;
    box-sizing: border-box;
}

.big-img{
    position: absolute;
    width: 100%;
    z-index: 500;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: table;
}
.mask{
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: table;
    background: rgba(139, 142, 134, 0.75);
    text-align: center;
}

.mask span{
    display:table-cell;
    vertical-align:middle;
}






.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}