/*搜索栏*/
.search-bar{
    width: 980px;
    margin:20px auto;
}
.search-wrapper{
    margin: 10px 12px 5px 0;
}
.search-block{
    width: 600px;
    bottom: 0px;
    margin: 0 auto;
}
.input-wrapper{
    float: left;
    width: 520px;
}
.input-wrapper input{
    width: 476px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 2px solid #ccd0d7;
    border-radius: 4px;
    outline: none;
}
.search-button-wrapper{
    width: 78px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid;
    padding: 2px 0;
    background-color: #00a1d6;
    color:#FFFFFF;
    opacity: 0.75;
}
.search-button-wrapper:hover{
    cursor: pointer;
    opacity: 1;
}
/*结果栏*/
.result-wrapper{
    width: 980px;
    margin:20px auto;
}

.security_content {
    width: 980px;
    height: 100%;
    margin: 10px auto 100px;
    background: #FAFAFA;
}
.security-right {
    background: #fff;
    position: relative;
    min-height: 832px;
    box-sizing: border-box;
}
.tab-border {
    height: 49px;
    margin-left: 430px;
    position: absolute;
    width: 278px;
    z-index: 100;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-radius: 6px 6px 0 0;
}

.security-right {
    background: #fff;
    position: relative;
    min-height: 832px;
    box-sizing: border-box;
}
/*信息栏标题*/
.title{
    height: 50px;
    padding-left: 30px;
    border-bottom: 1px solid #ddd;
}
.title-text{
    color:#00a1d6;
    float: left;
    margin: 15px 0 0 5px;
    font-size:14px;
}
.tab{
    float: left;
    width: 250px;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    text-align: center;
}
.tab-active{
    color: #00a1d6;
}