@CHARSET "UTF-8";
/*.col-xs-4 a{*/
    /*padding: 10px 10px 5px;*/
    /*color: #337ab7;*/
    /*font-size: 16px;*/
/*}*/
/*简介*/
.summary {
    width: 580px;
    padding:10px;
    padding-top:0px;
    margin: auto;
    word-wrap: break-word;
}
.information{
    width:600px;
    margin:20px auto 20px auto;
    border: 1px solid #CCCCCC;
    /*padding-top: 20px;*/
}
.information .title h3{
    color: #666666;
    font-size: 18px;
    padding:15px;
    padding-top:5px;
    border-bottom: 1px solid #F2F2F2;
}

a{
	color: red;
}
li a{
	color: black;
}

.row{
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 1px;
    border-bottom: 1px solid #F2F2F2;
}
.textName{
    width: 80px;
    float: left;
    position: relative;
    color: #666;
    font-size: 12px;
    font: 12px 'Microsoft YaHei','Hiragino Sans GB',Arial,sans-serif;
}
.radioName{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: 60px;
    position: relative;
    color: #666;
    font-size: 12px;
    font: 12px 'Microsoft YaHei','Hiragino Sans GB',Arial,sans-serif;
}

.option-wapper{
	height:40px;
	width:600px;
	margin: 10px;
	margin-top: 0;
}

input[type=radio]{
    display: inline;
    margin:13px;
    height:14px;
    width:14px;
}

.radioName label{
	display:block;
    height: 28px;
    line-height: 14px;
    font-size:14px;
    width:530px;
    position: absolute;
    top: 14px;
}
.textValue{
    display: inline-block;
    position: relative;
    color: #666;
    font-size: 12px;
    font: 12px 'Microsoft YaHei','Hiragino Sans GB',Arial,sans-serif;
}


.textName label,.textValue label{
    text-align: right;
    float: right;
    padding:6px;
    height: 18px;
    line-height: 18px;
}

.do-vote{
    display: block;
    margin: 0 auto;
    background: url(../images/bg.png) repeat-x left top;
    width: 80px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #215A8D;
    opacity: 0.75;
    padding: 0;
}

.do-vote-wrapper{
	margin: 10px;
}


.progress {
	margin:10px;
	padding-bottom:20px;
	width: 580px;
	height:20px;
}

#msg_input_field{
	padding-left: 10px;
	padding-bottom: 0px;
}

.single-msg{
	padding: 10px;
	margin-top: 0px;
	border-top: 1px solid #F2F2F2;
}

.del-field{
	margin: 10px;
}

.msg_title{
	color: grey;
	font-size: 13px;
	padding: 10px;
	padding-bottom: 0px;
	border-top: 1px solid #F2F2F2;
}

.recommand_title{
	padding-left: 10px;
}

.col-xs-4{
	width: 33%;
	padding: 0px;
	border: 1px solid #e6e6e6;
}

.recommand_info {
	margin: 10px;
	font-size: 13px;
}

a .recommand_title {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color:#337ab7;
}


.recommand_time{
	margin: 10px;
	color: #666;
    font-size: 12px;
    font: 12px 'Microsoft YaHei','Hiragino Sans GB',Arial,sans-serif;
}
