<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>test</title>

    <script src="jquery.min.js"></script>
    <!--<link href="http://cdn.bootcss.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="bootstrap.css" rel="stylesheet"/>
    <link href="bootstrap.min.css" rel="stylesheet"/>
    <link href="bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script src="bootstrap.js"></script>
    <script src="bootstrap-datetimepicker.js"></script>
    <script src="bootstrap-datetimepicker.zh-CN.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of Html5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="http://cdn.bootcss.com/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>-->
    <!--<script src="bootstrap-datetimepicker.js"></script>-->
    <!--<script src="bootstrap-datetimepicker.zh-CN.js"></script>-->


    <script src="get_user_by_name.js"></script>
    <script src="get_user_by_sendtime.js"></script>
    <script src="get_user_by_id.js"></script>
    <title>Find</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">网投</a>
        </div>

        <ul th:if="${currentUser} eq null" class="nav navbar-nav navbar-right">
            <li><a href="signup"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            <li><a href="signin"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
        </ul>
        <ul th:unless="${currentUser} eq null" class="nav navbar-nav navbar-right">
            <li><a href="#" ><span class="glyphicon glyphicon-user" th:text="${currentUser.nickName}"></span> </a></li>
            <li><a href="signout"><span class="glyphicon glyphicon-log-in"></span> 退出</a></li>
        </ul>
    </div>
</nav>
<div>hello</div>
<div class="row">
    <form>
        <div class="form-group col-sm-2">
            <label for="id">按id查找</label>
            <input type="text" class="form-control" id="id"
                   placeholder="请输入id"/>
        </div>
    </form>
    <!--<button  class="btn btn-default" onclick="find()">查找</button>-->
</div>
<button  class="btn btn-default" id="find_by_id">查找</button>

<div class="row">
    <form>
        <div class="form-group col-sm-2">
            <label for="name">按名字查找</label>
            <input type="text" class="form-control" id="name"
                   placeholder="请输入名字"/>
        </div>
    </form>
    <!--<button  class="btn btn-default" onclick="find()">查找</button>-->

</div>
<button  class="btn btn-default" id="find_by_name">查找</button>
<div class="row">
    <form>
        <div class="form-group col-sm-2">
            <!--<div class="input-append date form_datetime" data-picker-position="bottom-left">-->

            <!--<input type="text"  value="" size="16"/>-->
            <!--<span class="add-on"><i class="icon-th"></i></span>-->
            <!--</div>-->
            <label for="sendTime">按时间查找</label>
            <div class='input-group date' id='datetimepicker1'>

                <input type='text' class="form-control"  id="sendTime"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
            </span>
            </div>
        </div>
    </form>
</div>



<!--<button  class="btn btn-default" onclick="find()">查找</button>-->
<button  class="btn btn-default" id="get_user_by_sendTime">查找</button>

<div>
    <table class="table table-striped">
        <caption>条纹表格布局</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>height</th>
            <th>sex</th>
            <th>birthday</th>
            <th>sendtime</th>
            <th>price</th>
            <th>floatprice</th>
            <th>doubleprice</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>



<!--<script>-->
    <!--$(".form_datetime").datetimepicker({-->
        <!--minView: "month", //选择日期后，不会再跳转去选择时分秒-->
        <!--format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式-->
        <!--language: 'zh-CN', //汉化-->
        <!--autoclose:true //选择日期后自动关闭-->
    <!--});-->
<!--</script>-->
</body>
</html>