<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!--<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />-->
    
    <link href="css/home.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

</head>
<body>
    <div class="z_top_container">
		<div class="z_top b-header-blur-black">
			<div class="z_header">
				<div class="z_top_nav">
					<ul>
						<li class="home">
								
							<a href="/"><span>网投</span><span>主站</span></a>							
						</li>
					</ul>
				</div>
				
				<div class="uns_box" >
					<ul class="menu">
						<li style="display: list-item;"><a href="home" th:with="str=${currentUser.nickName}+'aaaaaaa'" th:text=" ${#strings.abbreviate(str  ,10)} "></a></li>
						<li ><a href="signout"><span class="glyphicon glyphicon-log-in"></span> 退出</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>

    <div class="security_content">
    	<div class="security-left">
    		<ul class="child-list">
                <li>
                    <a href="#" id="home" rec-linkid="account_tab_index_click" title="首页" class="bg-blue">
                        <i class="al-sy check-t"></i>
                        <span>首<b style="width: 28px;display: inline-block;"></b>页</span>
                    </a>
                </li>
                
                <li>
                    <a href="#" id="coin">
                        <i class="al-coin"></i>
                        <span>我的硬币</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="record">
                        <i class="al-jl"></i>
                        <span>我的记录</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="site">
                        <i class="al-aq"></i>
                        <span>账号安全</span>
                    </a>
                </li>
            </ul>
		</div>

        <div class="security-right">
	        <div class="title">
	        	<span class="title-text">我的头像</span>
	        </div>
            <div class="img-wrapper">
            
            	<div class="portrait">
            		<img src="/images/red_yellow.jpg"/>
            	</div>
            </div>
            
            <div class="title">
	        	<span class="title-text">我的信息</span>
	        </div>
            <div class="information">
            	<div class="row">
            	<div class="textName">
            		<label>昵称:</label>
            	</div>
            	<input type="text" th:field="${currentUser.nickName}"/>
            	</div>
	            <div class="row">
	            	<div class="textName">
	            		<label>个性签名:</label>
	            	</div>
	            	
	            	<textarea cols="30" rows="10"  th:field="${currentUser.sign}"/>
	
	            </div>
	            <div class="row">
	            	<div class="textName">
	            		<label>注册邮箱:</label>
	            	</div>
	            	
	            	<input type="text" th:field="${currentUser.bindingEmail}"/>
	            </div>
	            <div class="row">
	            	<div class="textName">
	            		<label>注册时间:</label>
	            	</div>
	            	
	            	<input type="text" th:field="${currentUser.registerTime}"/>
	            </div>
            </div>
            
    	</div>
    </div>
</body>
</html>