<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>个人中心</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <script src="/js/jquery.min.js"></script>
    <!--<link href="http://cdn.bootcss.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of Html5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="http://cdn.bootcss.com/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>-->
    <!--<script src="bootstrap-datetimepicker.js"></script>-->
    <!--<script src="bootstrap-datetimepicker.zh-CN.js"></script>-->
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
    <link href="/css/my.css" rel="stylesheet" type="text/css" />
    <link href="/css/top.css" rel="stylesheet" type="text/css" />

    <script src="/js/home_information.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <style>
        .a-upload {
            width: 128px;
            text-align: center;
            padding: 4px 10px;
            height: 20px;
            line-height: 20px;
            position: relative;
            cursor: pointer;
            color: #888;
            background: #fafafa;
            border: 1px solid #ddd;
            border-radius: 4px;
            overflow: hidden;
            display: inline-block;
            *display: inline;
            *zoom: 1
        }

        .a-upload  input {
            position: absolute;
            font-size: 20px;
            right: 0;
            top: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            cursor: pointer
        }

        .a-upload:hover {
            color: #444;
            background: #eee;
            border-color: #ccc;
            text-decoration: none
        }
        .showFileName{
            padding: 0 5px;
            text-align: center;
        }
    </style>
</head>
<body>
<script th:inline="javascript">
    var id = [[${currentUser.id}]];
</script>
    <div class="z_top_container">
		<div class="z_top b-header-blur-black">
			<div class="z_header">
				<div class="z_top_nav">
					<ul>
						<li class="home">
								
							<a href="/"><span>网投</span><span>主站</span></a>							
						</li>
					</ul>
				</div>
				
				<div class="uns_box" >
					<ul class="menu">
						<li style="display: list-item;"><a href="/home" th:with="str=${UserInformation.nickName}" th:text=" ${#strings.abbreviate(str ,10)} "></a></li>
						<li ><a href="/signout"> 退出</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>

    <div class="information_container">
        <div class="security_content">
            <div class="security-left">
                <ul class="child-list">
                    <li>
                        <a href='javascript:void(0);' id="home" title="首页" class="active">
                            <i ></i>
                            <span>首<b style="width: 28px;display: inline-block;"></b>页</span>
                        </a>
                    </li>

                    <li>
                        <a href="/home/comment" id="comment" class="canHover">
                            <i class="al-coin"></i>
                            <span>我的留言</span>
                        </a>
                    </li>
                    <li>
                        <a href="/home/vote" id="vote" class="canHover">
                            <i class="al-jl"></i>
                            <span>我的投票</span>
                        </a>
                    </li>
                    <li>
                        <a href="/home/safe" id="safe" class="canHover">
                            <i class="al-aq"></i>
                            <span>我的账号</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="security-right">
                <div class="title">
                    <span class="title-text">我的头像</span>
                    <div class="tab">

                    </div>
                </div>

                <div>
                    <div class="portrait-wrapper" >
                        <div class="portrait">
                            <img th:if="${UserInformation.portrait} ne null"  class="portrait-img" th:src="${UserInformation.portrait}"/>
                            <!--<img class="portrait-img" src="/portrait/red_yellow.jpg"/>-->
                            <img th:if="${UserInformation.portrait} eq null" class="portrait-img" src="/images/default_portrait.jpg"/>
                            <div class="texttip">
                                <p>点击查看原图</p>
                            </div>
                        </div>
                    </div>
                    <div style=" position: relative; z-index: 100;  width: 150px;margin: 0 auto" >
                        <div class="change_portrait-wrapper">
                            <div class="box btnArea">
                                <a class="change_portrait" id="change_portrait">修改头像</a>
                            </div>
                        </div>
                        <form action="/home/modifyPortrait" method="post" enctype="multipart/form-data" class="upload" name="fileForm">
                            <a href="javascript:void(0);" class="a-upload">
                                <input type="file" name="file" id="file" />点击这里上传头像
                            </a>
                            <p class="showFileName">支持JPG、PNG等格式图片需小于2M</p>
                        </form>
                    </div>
                </div>

                <div class="title">
                    <span class="title-text">我的信息</span>
                </div>
                <div class="information">
                    <form class="information-form">
                        <div class="row">
                            <div class="textName">
                                <label for="nickName">昵<b style="width: 24px;display: inline-block;"></b>称:</label>
                            </div>
                            <input type="text" th:value="${UserInformation.nickName}" id="nickName" name="nickName"/>
                        </div>
                        <div class="row">
                            <div class="textName">
                                <label for="sign">个性签名:</label>
                            </div>
                            <textarea cols="30" rows="10"  th:field="${UserInformation.sign}" id="sign" name="sign"/>

                        </div>
                        <div class="row">
                            <div class="textName">
                                <label >性<b style="width: 24px;display: inline-block;"></b>别:</label>
                                <!--for="sex"-->
                            </div>
                            <div class="textValue">
                                <ul th:if="${UserInformation.sex} eq 男">
                                    <li class="selected">男</li>
                                    <li class="canHover">女</li>
                                    <li class="canHover">未知</li>
                                </ul>
                                <ul th:if="${UserInformation.sex} eq 女">
                                    <li class="canHover">男</li>
                                    <li class="selected">女</li>
                                    <li class="canHover">未知</li>
                                </ul>
                                <ul th:if="${UserInformation.sex} eq 未知">
                                    <li class="canHover">男</li>
                                    <li class="canHover">女</li>
                                    <li class="selected">未知</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="textName">
                                <label for="birthday">出生日期:</label>
                            </div>
                            <div class='input-group date' id='datetimepicker1' style="width:120px" >

                                <input th:with="date=${UserInformation.birthday}" th:value="${#dates.format(date, 'yyyy-MM-dd')}"
                                       type='text' class="form-control" style="padding-top: 1px;padding-bottom: 1px"
                                       id="birthday" name="birthday" readonly="readonly"
                                />
                                <span class="input-group-addon" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;">
							<span class=" glyphicon-calendar"></span>
						</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="textName">
                                <label>绑定邮箱:</label>
                            </div>
                            <div th:if="${UserInformation.bindingEmail} ne null">
                                <div class="textValue">
                                    <label th:text="${UserInformation.bindingEmail}">绑定邮箱:</label>
                                </div>
                                <div class="action">
                                    <a href="/home/resetBE">修改绑定邮箱</a>
                                </div>
                            </div>

                            <div th:if="${UserInformation.bindingEmail} eq null">
                                <div class="textValue">
                                    <label >尚未绑定</label>
                                </div>
                                <div class="action">
                                    <a href="/bindEmail" target="_blank">现在去绑定邮箱</a>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="textName">
                                <label>注册时间:</label>
                            </div>
                            <div class="textValue">
                                <label th:with="date=${UserInformation.registerTime}" th:text="${#dates.format(date, 'yyyy-MM-dd HH:mm:ss')}"
                                >注册时间:</label>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="box btnArea">
                            <a class="submit-btn" id="submit">保存</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div >
        <div class="mask" style="display: none">
            <span>
                <img th:if="${UserInformation.portrait} ne null"  class="portrait-img" th:src="${UserInformation.portrait}"/>
                <img th:if="${UserInformation.portrait} eq null" class="portrait-img" src="/images/default_portrait.jpg"/>
                <!--<img src="/images/red_yellow.jpg"/>-->
            </span>
        </div>
    </div>
    
</body>
</html>