<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>我的投票</title>

    <script src="/js/jquery.min.js"></script>
    <!--<link href="http://cdn.bootcss.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>



    <link href="/css/home.css" rel="stylesheet" type="text/css" />
    <link href="/css/my.css" rel="stylesheet" type="text/css" />
    <link href="/css/top.css" rel="stylesheet" type="text/css" />
    <link href="/css/home_safe.css" rel="stylesheet" type="text/css" />
    <link href="/css/home_vote.css" rel="stylesheet" type="text/css" />
    <script src="/js/date_format.js"></script>
    <script src="/js/dynamic_page.js"></script>
    <script src="/js/home_vote.js"></script>
</head>
<body>
<script th:inline="javascript">
    var id = [[${currentUser.id}]];
    var type = [[${type}]];
    var pageIndex = [[${pageIndex}]];
</script>
<div class="z_top_container">
    <div class="z_top b-header-blur-black">
        <div class="z_header">
            <div class="z_top_nav">
                <ul>
                    <li class="home">

                        <a href="/"><span>网投</span><span>主站</span></a>
                    </li>
                </ul>
            </div>

            <div class="uns_box" >
                <ul class="menu">
                    <li ><a  th:if="${currentUser.authority}==1" href="/home"
                             th:with="str=${UserInformation.nickName}"
                             th:text=" ${#strings.abbreviate(str ,10)} "></a>
                        <a th:if="${currentUser.authority}==0" href="/admin" th:text="管理中心"></a></li>
                    <li ><a href="/signout"> 退出</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="information_container">
    <div class="security_content">
        <div class="security-left">
            <ul class="child-list">
                <li>
                    <a href="/home" id="home" title="首页" class="canHover">
                        <i ></i>
                        <span>首<b style="width: 28px;display: inline-block;"></b>页</span>
                    </a>
                </li>

                <!--<li>-->
                    <!--<a href="/home/comment" id="comment" class="canHover" >-->
                        <!--<i class="al-coin"></i>-->
                        <!--<span>我的留言</span>-->
                    <!--</a>-->
                <!--</li>-->
                <li>
                    <a href='javascript:void(0);' id="vote"  class="active">
                        <i class="al-jl"></i>
                        <span>我的投票</span>
                    </a>
                </li>
                <li>
                    <a href="/home/safe" id="safe" title="账号安全" class="canHover">
                        <i class="al-aq"></i>
                        <span>我的账号</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="security-right">
            <div class="title">
                <span class="title-text">我发布的</span>
                <!--<div class="tab tab-active" id="publish">-->
                    <!--我发布的-->
                <!--</div>-->
                <!--<div class="tab" id="join">-->
                    <!--我参与的-->
                <!--</div>-->
                <!--<div class="tab-border">-->

                <!--</div>-->
            </div>

            <div class="information" id="publish-vote">
                <form class="information-form" >
                    <div class="wrapper-padding">
                        <div class="table-wrapper">
                            <table class="table-normal" >
                                <thead>
                                <tr>
                                    <td><input type="checkbox" id="all"/></td>
                                    <td ><div>发布时间</div></td>
                                    <td ><div>主题</div></td>
                                    <td ><div>简介</div></td>
                                    <td ><div>操作</div></td>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

                <div class="img-wrapper" style="display: none">
                    <div class="error-wrapper">
                        <div class="error-img">
                            <img  class="portrait-img" src="/images/red_yellow.jpg"/>
                            <div class="texttip">
                                <p>点击查看原图</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <a class="delete-btn" id="submit">删除投票</a>
                </div>
                <div class="page-wrapper">
                    <div class="page">
                        <ul class="pagination" >
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div >
    <div class="mask" style="display: none">
        <span><img src="/images/red_yellow.jpg"/></span>
    </div>
</div>
</body>
</html>