<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of Html5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script src="/json2.js"></script>
    <script src="/js/page_table.js"></script>
    <title>Page</title>
</head>
<body>

<script th:inline="javascript">
    var page_index = [[${page_index}]];
    console.log("inline js :"+page_index);
</script>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">网投</a>
        </div>

        <ul th:if="${currentUser} eq null" class="nav navbar-nav navbar-right">
            <li><a href="signup"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            <li><a href="signin"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
        </ul>
        <ul th:unless="${currentUser} eq null" class="nav navbar-nav navbar-right">
            <li><a href="#" ><span class="glyphicon glyphicon-user" th:text="${UserInformation.nickName}"></span> </a></li>
            <li><a href="signout"><span class="glyphicon glyphicon-log-in"></span> 退出</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div>
        <table class="table table-striped">
            <caption>分页</caption>
            <thead>
            <tr>
                <th><input type="checkbox" id="all"/></th>
                <th>name</th>
                <th>height</th>
                <th>sex</th>
                <th>birthday</th>
                <th>sendtime</th>
                <th>price</th>
                <th>floatprice</th>
                <th>doubleprice</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div>
        <ul class="pagination" >


        </ul>
        <button type="button" class="btn btn-danger" id="delete">删除</button>
    </div>
</div>

</body>
</html>