<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="jquery.min.js"></script>
</head>
<body>
<div th:fragment="random" th:object="${number}">
    <p th:text="*{loginname}" >3333</p>
    <p th:text="${validate}">233</p>
    <button type="button" class="btn btn-danger" id="random" >random</button>
</div>
<!--<div th:fragment="random" th:object="${currentUser}">-->
    <!--<p th:text="*{loginname}" >3333</p>-->
    <!--<p th:text="${validate}">233</p>-->
    <!--<button type="button" class="btn btn-danger" id="random2" >random</button>-->
<!--</div>-->
<script>
    $(document).ready(function(){
        $("#random").click(function(){
            console.log("click");
            $.post("/random",
                {
                },
                function(data){
                    console.log(data);
                    //$("html").html(data);
                }
            );
        });
    });
</script>
</body>
</html>