				<div id="msg_input_field">
					<input th:if="${isMsged} == false" type="text" id="msg_text" />
					<input th:if="${isMsged} == false" type="button" value="发表" id="msg_submit" />
					<p th:if="${isMsged} == true">您已进行过留言</p>
				</div>
				<div th:each="msg : ${msgList}">
					<div class="single-msg">
						<span th:text="${msg.msgText}"></span>
						<span th:text="${#dates.format(msg.msgTime, 'yyyy-MM-dd')}"></span>
						<span th:if="${canDelMsg} == true">
							<input th:value="${msg.id}" hidden="hidden" class="del_msg_id" />
							<a type="button" class="del_msg" >删除</a>
						</span>
					</div>
				</div>