				<div id="msg_input_field">
					<input th:if="${isMsged} == false" type="text" id="msg_text" />
					<input th:if="${isMsged} == false" type="button" value="发表" id="msg_submit" />
					<p th:if="${isMsged} == true">您已进行过留言</p>
				</div>
				<div th:if="${hasHotMsg}" class="hot_msg_field">
					<div class="msg_title"><p>热门评论</p></div>
					<div class="single-msg">
						<span th:text="${hotMsg.msgText}"></span>
						<span th:text="${#dates.format(hotMsg.msgTime, 'yyyy-MM-dd')}"></span>
						<input th:value="${hotMsg.id}" hidden="hidden" class="react_msg_id" />
						<a th:text="${'顶(' + hotMsg.bumpNum + ')'}" class="bump_msg"></a>
						<input th:value="${hotMsg.id}" hidden="hidden" class="react_msg_id" />
						<a th:text="${'踩(' + hotMsg.treadNum + ')'}" class="tread_msg"></a>
						<span th:if="${canDelMsg} == true">
							<input th:value="${hotMsg.id}" hidden="hidden" class="del_msg_id" />
							<a type="button" class="del_msg" >删除</a>
						</span>
					</div>
				</div>
				<div >
					<div class="msg_title"><p>普通评论</p></div>
					<div class="single-msg" th:each="msg : ${msgList}">
						<span th:text="${msg.msgText}"></span>
						<span th:text="${#dates.format(msg.msgTime, 'yyyy-MM-dd')}"></span>
						<input th:value="${msg.id}" hidden="hidden" class="react_msg_id" />
						<a th:text="${'顶(' + msg.bumpNum + ')'}" class="bump_msg"></a>
						<input th:value="${msg.id}" hidden="hidden" class="react_msg_id" />
						<a th:text="${'踩(' + msg.treadNum + ')'}" class="tread_msg"></a>
						<span th:if="${canDelMsg} == true">
							<input th:value="${msg.id}" hidden="hidden" class="del_msg_id" />
							<a type="button" class="del_msg" >删除</a>
						</span>
					</div>
				</div>