<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>重置密码</title>
    <link href="/css/my.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/top.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="/js/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/reset_password.js"></script>
    
</head>
<body class="loginbody">
<script th:inline="javascript">
    var id = [[${id}]];
    var validateCode = [[${validateCode}]];
</script>
<div class="dataEye">
    <div class="z_top_container">
        <div class="z_top b-header-blur-black">
            <div class="z_header">
                <div class="z_top_nav">
                    <ul>
                        <li class="home">

                            <a href="/"><span>网投</span><span>主站</span></a>
                        </li>
                    </ul>
                </div>

                <div class="uns_box" >
                    <ul class="menu" th:if="${currentUser} eq null">
                        <li ><a href="/signin"> 登录</a></li>
                        <li ><a href="/signup" >注册</a></li>

                    </ul>
                    <ul class="menu" th:unless="${currentUser} eq null">
                        <li style="display: list-item;"><a href="/home" th:with="str=${UserInformation.nickName}" th:text=" ${#strings.abbreviate(str ,10)} "></a></li>
                        <li ><a href="/signout"> 退出</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="loginbox">
        <div class="login-content">
            <div class="loginbox-title">
                <h3 style="margin-top: 10px">修改密码</h3>
            </div>
            <form id="signupForm">

                <div class="box">
                    <label class="field">新密码</label>
                    <input type="password" class="input-text-password " name="password" id="password"/>
                    <label for="password" class="error" style="display: none;">请输入用户名</label>
                </div>

                <div class="box">
                    <label class="field">确认新密码</label>
                    <input type="password" class="input-text-password " name="password_confirm" id="password_confirm"/>
                    <label for="password_confirm" class="error" style="display: none;">请输入用户名</label>
                </div>

                <div class="box btnArea">
                    <a class="login-btn" id="submit">修改</a>
                </div>

                <div class="go-regist">
                   	 想起来了？
                    <a href="/signin">回去登陆</a>
                </div>
                <div id="txtLoginIDTip">
                </div>
            </form>

        </div>

    </div>

    <div id="footer">
        <div class="dblock">

            <div class="inline-block">webvote</div>
            <div class="inline-block ">
                <p> Copyright © </p>
            </div>
        </div>
    </div>
    
    <div class="loading">
	    <div class="mask">
	        <div class="loading-img">
	            <img src="../images/loading.gif" width="31" height="31"/>
	        </div>
	    </div>
	</div>
    
</div>
</body>
</html>