<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
    <link href="/css/search_index.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/js/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>
<script th:inline="javascript">
    var keyword = [[${keyword}]];
    console.log(keyword);
</script>
    <div class="z_top_container">
        <div class="z_top b-header-blur-black">
            <div class="z_header">
                <div class="z_top_nav">
                    <ul>
                        <li class="home">

                            <a href="/"><span>网投</span><span>主站</span></a>
                        </li>
                    </ul>
                </div>

                <div class="uns_box" >
                    <ul class="menu" th:if="${currentUser} eq null">
                        <li ><a href="signin"> 登录</a></li>
                        <li ><a href="signup" >注册</a></li>

                    </ul>
                    <ul class="menu" th:unless="${currentUser} eq null">
                        <li style="display: list-item;"><a href="home" th:with="str=${currentUser.nickName}" th:text=" ${#strings.abbreviate(str ,10)} "></a></li>
                        <li ><a href="signout"> 退出</a></li>
                    </ul>
                </div>

                <!--<div class="nav-search">-->
                    <!--<form action="/search" id="nav_searchform" target="_blank">-->
                        <!--<input name="keyword" type="text"-->
                               <!--class="nav-search-keyword" id="nav_search_keyword" autocomplete="off"-->
                               <!--accesskey="s" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="搜索"/>-->
                        <!--<button type="submit" class="nav-search-submit"></button>-->
                    <!--</form>-->
                <!--</div>-->

            </div>
        </div>
    </div>


    <div class="search-bar" >
        <div class="search-wrapper">
            <div class="search-block">
                <i class="loupe" se-linkid="s-btn-loupe"></i>
                <div class="input-wrapper">
                    <input type="text" id="search-keyword" autocomplete="off" placeholder="search here"/>
                </div>

                <div class="search-button-wrapper">
                    <i class="icon-search-white"></i>
                    <span>搜索</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>