<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>投票更新页</title>
		<script src="/js/jquery.min.js"></script>
	    <link href="/css/bootstrap.css" rel="stylesheet"/>
	    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
	    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
	    <script src="/js/bootstrap.js"></script>
	    <script src="/js/bootstrap-datetimepicker.js"></script>
	    <script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
        <link href="/css/my.css" rel="stylesheet"/>
        <link href="/css/top.css" rel="stylesheet"/>
        <link href="/css/upd_vote.css" rel="stylesheet"/>
	    <script  type="text/javascript">
		    function reset() {
	    		$("#vname").val($("#vname_origin").val());
	    		$("#vinfo").val($("#vinfo_origin").val());
	    		if($("vtype_origin").val() == 0)
	    			$("input[name='vtype'][value='0']").prop("checked", "checked");
	    		else
	    			$("input[name='vtype'][value='1']").prop("checked", "checked");
	    		$("#begintime").val($("#begintime_origin").val());
	    		$("#deadline").val($("#deadline_origin").val());
	    		if($("resultauthority_origin").val() == 0)
	    			$("input[name='resultauthority'][value='0']").prop("checked", "checked");
	    		else
	    			$("input[name='resultauthority'][value='1']").prop("checked", "checked");
	    	}
		    
	    	$(document).ready(function(){
	    		reset();
	    		$("#submit").click(function(){
	    			var vname = $("#vname").val().trim();
	    			if(vname == "") {
		    			alert("请输入投票名");
	    				return;
	    			}
	    			var vinfo = $("#vinfo").val().trim();
	    			if(vinfo == "") {
		    			alert("请输入投票介绍");
	    				return;
	    			}
	    			var begintime = $("#begintime").val();
	    			if(begintime == "") {
		    			alert("请输入开始时间");
	    				return;
	    			}
	    			var deadline = $("#deadline").val();
	    			if(deadline == "") {
		    			alert("请输入结束时间");
	    				return;
	    			}
	    			var vtype = $("input[name='vtype']:checked").val();
	    			if(!vtype) {
		    			alert("请选择投票类型");
	    				return;
	    			}
	    			var resultauthority = $("input[name='resultauthority']:checked").val();
	    			if(!resultauthority) {
		    			alert("请选择投票结果查看权限");
	    				return;
	    			}
	    			var vid = $("#vid").val();
	    			$.ajax({
	    				type : "POST",
	    				url : "/updatevote",
	    				data : {
	    					id : vid,
	    					vname : vname,
	    					vinfo : vinfo,
	    					vtype : vtype,
	    					beginTime : begintime,
	    					deadLine : deadline,
	    					resultAuthority : resultauthority
	    				},
	    				success : function(origin_data) {
	    					alert("success");
	    					$("#origin_data").html(origin_data);
	    					reset();
	    				}
	    			});
	    			
	    		});
	    		
				$("#reset").click(function(){
					reset();
				});
	    		
	    	});
	    </script>
	</head>
	<body>
		<div hidden="hidden" id="origin_data">
			<input type="text" id="vid" th:value="${voteEntity.id}" />
			<input type="text" id="vname_origin" th:value="${voteEntity.vname}" />
			<input type="text" id="vinfo_origin" th:value="${voteEntity.vinfo}" />
			<input type="text" id="vtype_origin" th:value="${voteEntity.vtype}" />
			<input type="datetime" id="begintime_origin" th:value="${#dates.format(voteEntity.beginTime, 'yyyy-MM-dd')}" />
			<input type="datetime" id="deadline_origin" th:value="${#dates.format(voteEntity.deadLine, 'yyyy-MM-dd')}" />
			<input type="text" id="resultauthority_origin" th:value="${voteEntity.resultAuthority}" />
		</div>
		
        <div class="z_top_container">
            <div class="z_top b-header-blur-black">
                <div class="z_header">
                    <div class="z_top_nav">
                        <ul>
                            <li class="home">
                                <a href="/"><span>网投</span><span>主站</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="uns_box" >
                        <ul class="menu" th:if="${currentUser} eq null">
                            <li ><a href="/signin"> 登录</a></li>
                            <li ><a href="/signup" >注册</a></li>
                        </ul>
                        <ul class="menu" th:unless="${currentUser} eq null">
                            <li style="display: list-item;"><a href="/home" th:with="str=${UserInformation.nickName}" th:text=" ${#strings.abbreviate(str ,10)} "></a></li>
                            <li ><a href="/signout"> 退出</a></li>
                        </ul>
                    </div>
                    <div class="nav-search">
                        <form action="/search" id="nav_searchform" target="_blank">
                            <input name="keyword" type="text"
                                   class="nav-search-keyword" id="nav_search_keyword" autocomplete="off"
                                   accesskey="s" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="搜索"/>
                            <button type="submit" class="nav-search-submit"></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
		<div class="information">
            <div class="title">
                <h3 style="margin-top: 10px">修改投票</h3>
            </div>
            <form class="information-form">
                <div class="row">
                    <div class="textName">
                        <label for="vname">投<b style="width: 4px;display: inline-block;"></b>
                            票<b style="width: 4px;display: inline-block;"></b>名:</label>
                    </div>
                    <input type="text" id="vname" class="text"/>
                </div>
                <div class="row">
                    <div class="textName">
                        <label for="vinfo">投票简介:</label>
                    </div>
                    <input type="text" id="vinfo" class="text"/><br/>
                </div>
                <div class="row">
                    <div class="textName">
                        <label for="begintime">开始时间:</label>
                    </div>
                    <input type="date" id="begintime" class="text"/><br/>
                </div>
                <div class="row">
                    <div class="textName">
                        <label for="deadline">截止时间:</label>
                    </div>
                    <input type="date" id="deadline" class="text"/><br/>
                </div>
                <div class="row">
                    <div class="textName">
                        <label for="deadline">创建时间:</label>
                    </div>
                    <p class="text" th:text="'创建时间:' + ${voteEntity.createTime}"></p><br/>
                </div>
                <div class="row">
                    <div class="textName">
                        <label for="deadline">投票类型:</label>
                    </div>
                    <input type="radio" name="vtype" value="0" class="radio" id="single"/>
                    <div class="radioName">
                        <label for="single">单<b style="width: 36px;display: inline-block;"></b>选</label>
                    </div>
                    <div style="display: none"></div>
                    <input type="radio" name="vtype" value="1" class="radio" id="multiple"/>
                    <div class="radioName">
                        <label for="multiple">多<b style="width: 36px;display: inline-block;"></b>选</label>
                    </div>
                </div>
                <div class="row">
                    <div class="textName">
                        <label for="deadline">结果权限:</label>
                    </div>
                    <input type="radio" name="resultauthority" value="0" class="radio" id="myself"/>
                    <div class="radioName">
                        <label for="myself">仅自己可见</label>
                    </div>
                    <div style="display: none"></div>
                    <input type="radio" name="resultauthority" value="1" class="radio" id="everybody"/>
                    <div class="radioName">
                        <label for="everybody">所有人可见</label>
                    </div>
                </div>

                <div class="row">
                    <div class="textName">
                        <label for="deadline">投票选项:</label>
                    </div>
                    <ul th:each="option : ${optionList}">
						<li>
							<p th:text="${option.optionText}" class="option"></p>
						</li>
					</ul>
                    <div class="upd-wrapper">
                        <a class="upd-vote" id="submit">确认修改</a>
                    </div>
                    <div class="upd-wrapper">
                        <a class="upd-vote" id="submit">重置</a>
                    </div>
                </div>
            </form>
        </div>
		
		
		
		
		<!-- 
		<form>
			投票名:<input type="text" id="vname" /><br/>
			投票简介:<input type="text" id="vinfo" /><br/>
			开始时间:<input type="date" id="begintime" /><br/>
			截止时间:<input type="date" id="deadline" /><br/>
			<p th:text="'创建时间:' + ${voteEntity.createTime}"></p>
			投票类型:<br/>
			<input type="radio" name="vtype" value="0"/>单选<br/>
			<input type="radio" name="vtype" value="1"/>多选<br/>
			结果权限:<br/>
			<input type="radio" name="resultauthority" value="0"/>仅自己可见<br/>
			<input type="radio" name="resultauthority" value="1"/>所有人可见<br/>
			投票选项:
			<ul th:each="option : ${optionList}">
				<li>
					<p th:text="${option.optionText}"></p>
				</li>
			</ul>
			<input type="button" value="提交" id="submit" />
			<input type="button" value="重置" id="reset" />
			
		</form>
		 -->
	</body>
</html>