<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>投票页</title>
		<script src="/js/jquery.min.js"></script>
	    <link href="/css/bootstrap.css" rel="stylesheet"/>
	    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
	    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
	    <script src="/js/bootstrap.js"></script>
	    <script src="/js/bootstrap-datetimepicker.js"></script>
	    <script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
        <link href="/css/my.css" rel="stylesheet"/>
        <link href="/css/top.css" rel="stylesheet"/>
        <link href="/css/vote.css" rel="stylesheet"/>
	    <!--<link href="/css/vote_result.css" rel="stylesheet"/>-->
	    <script type="text/javascript">
			$(document).ready(function(){
				var voteId = $("#vote_id").text();
				var url = "/recommandvote/" + voteId;
				$.ajax({
					type : "GET",
					url : url,
					success : function(recommand_votes) {
						$(".recommand-field").html(recommand_votes);
					}
				});
				
	    		$("#vote_submit").click(function(){
	    			var checkedOptionIds = new Array();
	    			$("input[name='vote_option']:checked").each(function(){
	    				checkedOptionIds.push($(this).val());
	    			});
	    			if(checkedOptionIds.length == 0) {
		    			alert("请选择选项");
	    				return;
	    			}
	    			var voteId = $("#vote_id").text();
	    			$.ajax({
	    				type : "POST",
	    				url : "/dovote",
	    				data : {
	    					vidstr : voteId,
	    					optionIds : checkedOptionIds
	    				},
	    				traditional : true,
	    				success : function(vote_success) {
	    					$("#vote_input_filed").html(vote_success);
	    				}
	    			});
	    			
	    		});
	    		
	    		$("body").on("click", "#msg_submit",  function(){
	    			var msg = $("#msg_text").val();
	    			var voteId = $("#vote_id").text();
	    			$.ajax({
	    				type : "POST",
	    				url : "/domsg",
	    				data : {
	    					vidstr : voteId,
	    					msg : msg
	    				},
	    				traditional : true,
	    				success : function(refresh_msg) {
	    					$("#msg_field").html(refresh_msg);
	    				}
	    			});
	    		});
	    		
	    		$("body").on("click", ".del_msg",  function(){
	    			var voteId = $("#vote_id").text();
					var mid = $(this).prev(".del_msg_id").val();
					$.ajax({
	    				type : "POST",
	    				url : "/delmsg",
	    				data : {
	    					mid : mid,
	    					vid : voteId
	    				},
	    				success : function(refresh_msg) {
	    					$("#msg_field").html(refresh_msg);
	    				}
	    			});
	    		});
				
				$("#del_vote").click(function(){
					var voteId = $("#vote_id").text();
					var url = "/deletevote/" + voteId;
	    			$.ajax({
	    				type : "POST",
	    				url : url,
	    				success : function(result) {
	    					alert(result);
	    					window.location.reload();
	    				}
	    			});
					
				});
				
				$("body").on("click", ".get_result",  function(){
					var voteId = $("#vote_id").text();
					var url = "/voteresult/" + voteId;
					$.ajax({
						type : "GET",
	    				url : url,
	    				success : function(result) {
	    					$("#vote_result_field").html(result);
	    				}
					});
				});
				
				$("body").on("click", ".bump_msg",  function(){
					var voteId = $("#vote_id").text();
					var mid = $(this).prev(".react_msg_id").val();
					$.ajax({
						type : "POST",
	    				url : "/bumpMsg",
	    				data : {
	    					mid : mid,
	    					vid : voteId
	    				},
	    				success : function(refresh_msg) {
	    					$("#msg_field").html(refresh_msg);
	    				}
					});
				});
				
				$("body").on("click", ".tread_msg",  function(){
					var voteId = $("#vote_id").text();
					var mid = $(this).prev(".react_msg_id").val();
					$.ajax({
						type : "POST",
	    				url : "/treadMsg",
	    				data : {
	    					mid : mid,
	    					vid : voteId
	    				},
	    				success : function(refresh_msg) {
	    					$("#msg_field").html(refresh_msg);
	    				}
					});
				});
	    	});
	    </script>
	</head>
	<body>
	
	<div class="z_top_container">
            <div class="z_top b-header-blur-black">
                <div class="z_header">
                    <div class="z_top_nav">
                        <ul>
                            <li class="home">
                                <a href="/"><span>网投</span><span>主站</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="uns_box" >
                        <ul class="menu" th:if="${currentUser} eq null">
                            <li ><a href="/signin"> 登录</a></li>
                            <li ><a href="/signup" >注册</a></li>
                        </ul>
                        <ul class="menu" th:unless="${currentUser} eq null">
                            <li style="display: list-item;"><a href="/home" th:with="str=${UserInformation.nickName}" th:text=" ${#strings.abbreviate(str ,10)} "></a></li>
                            <li ><a href="/signout"> 退出</a></li>
                        </ul>
                    </div>
                    <div class="nav-search">
                        <form action="/search" id="nav_searchform" target="_blank">
                            <input name="keyword" type="text"
                                   class="nav-search-keyword" id="nav_search_keyword" autocomplete="off"
                                   accesskey="s" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="搜索"/>
                            <button type="submit" class="nav-search-submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
		<div class="information">
            <div class="title">
                <h3 style="margin-top: 10px" th:text="${voteEntity.vname}"></h3>
                
            </div>
            <p th:text="${voteEntity.id}" hidden="hidden" id="vote_id"></p>
            
            <form class="information-form">
                <div class="row">
                    <div class="summary" th:text="${voteEntity.vinfo}"></div>
                </div>
                
                <div class="row">
                    <!--<div class="textName">-->
                        <!--<label >投票选项:</label>-->
                    <!--</div>-->
                    <div th:each="option : ${optionList}">
						<div th:if="${voteEntity.vtype} == 0" class="option-wapper">
                            <input type="radio" name="vote_option" th:value="${option.id}" class="option" th:id="'single'+${option.id}"/>
                            <div class="radioName">
                                <label th:for="'single'+${option.id}" th:text="${option.optionText}"></label>
                            </div>
						</div>
						<div th:if="${voteEntity.vtype} == 1" class="option-wapper">
                            <input type="checkbox" name="vote_option" th:value="${option.id}" class="option" th:id="'single'+${option.id}"/>
                            <div class="radioName">
                                <label th:for="'single'+${option.id}" th:text="${option.optionText}"></label>
                            </div>
						</div>
					</div>

                    <div class="do-vote-wrapper" id="vote_input_filed">
                        <a th:if="${isVoted} == false and ${isVoteBegin} == true and ${isVoteOver} == false" type="button" id="vote_submit" class="do-vote">提交</a>
						<p th:if="${isVoted} == true and ${isVoteBegin} == true and ${isVoteOver} == false">您已进行过投票 <a th:if="${canCheckResult}" class='get_result'>查看投票结果</a></p>
						<p th:if="${isVoteBegin} == false and ${isVoteOver} == false">投票尚未开始</p>
						<p th:if="${isVoteOver} == true">投票已经结束 <a th:if="${canCheckResult}" class='get_result'>查看投票结果</a></p>
                    </div>
                    <div id="vote_result_field">
                    
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li>
                            <div class="textName">
                                <label>开始时间:</label>
                            </div>
                            <div class="textValue">
                                <label th:with="date=${voteEntity.beginTime}" th:text="${#dates.format(date, 'yyyy-MM-dd')}"></label>
                            </div>
                        </li>
                        <li>
                            <div class="textName">
                                <label >截止时间:</label>
                            </div>
                            <div class="textValue">
                                <label th:with="date=${voteEntity.deadLine}" th:text="${#dates.format(date, 'yyyy-MM-dd')}"></label>
                            </div>
                        </li>
                    </ul>

                </div>
            </form>
            	
            
			<div class="row" id="msg_field">
				<div id="msg_input_field">
					<input th:if="${isMsged} == false" type="text" id="msg_text" style="margin-bottom:10px" />
					<input th:if="${isMsged} == false" type="button" value="发表" id="msg_submit" />
					<p th:if="${isMsged} == true">您已进行过留言</p>
				</div>
				<div th:if="${hasHotMsg}" class="hot_msg_field">
					<div class="msg_title"><p>热门评论</p></div>
					<div class="single-msg">
						<span th:text="${hotMsg.msgText}"></span>
						<span th:text="${#dates.format(hotMsg.msgTime, 'yyyy-MM-dd')}"></span>
						<input th:value="${hotMsg.id}" hidden="hidden" class="react_msg_id" />
						<a th:text="${'顶(' + hotMsg.bumpNum + ')'}" class="bump_msg"></a>
						<input th:value="${hotMsg.id}" hidden="hidden" class="react_msg_id" />
						<a th:text="${'踩(' + hotMsg.treadNum + ')'}" class="tread_msg"></a>
						<span th:if="${canDelMsg} == true">
							<input th:value="${hotMsg.id}" hidden="hidden" class="del_msg_id" />
							<a type="button" class="del_msg" >删除</a>
						</span>
					</div>
				</div>
				<div >
					<div class="msg_title"><p>普通评论</p></div>
					<div class="single-msg" th:each="msg : ${msgList}">
						<span th:text="${msg.msgText}"></span>
						<span th:text="${#dates.format(msg.msgTime, 'yyyy-MM-dd')}"></span>
						<input th:value="${msg.id}" hidden="hidden" class="react_msg_id" />
						<a th:text="${'顶(' + msg.bumpNum + ')'}" class="bump_msg"></a>
						<input th:value="${msg.id}" hidden="hidden" class="react_msg_id" />
						<a th:text="${'踩(' + msg.treadNum + ')'}" class="tread_msg"></a>
						<span th:if="${canDelMsg} == true">
							<input th:value="${msg.id}" hidden="hidden" class="del_msg_id" />
							<a type="button" class="del_msg" >删除</a>
						</span>
					</div>
				</div>
			</div>
            
            <div class="recommand-field">
            </div>
            
            <div class="del-field">
	            <form th:if="${canDelVote} == true">
			 		<input type="button" value="删除投票" id="del_vote" />
			 	</form>
            </div>
		 	
        </div>
		
	</body>
</html>